@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 25px;
    min-height: 100vh;
    background: url('home-background.jpg');
    background-size: cover;
    background-position: center;
}

.user-info-box {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 15px;
    width: 100%;
}

.welcome-box {
    display: flex;
    width: 33%;
    text-align: center;
    height: 60px;
    padding: 1em;
    color: white;
    background: transparent;
    justify-content: left;
    align-items: center;

    /* For visualization purposes */
    /* border: 5px solid #fff;
    border-radius: 10px; */
}

.welcome-box h1 {
    font-size: 30px;
    font-weight: 500;
}

.log-out-box {
    display: flex;
    width: 33%;
    text-align: center;
    height: 60px;
    background: transparent;
    padding: 1em;
    color: white;
    justify-content: right;
    align-items: center;

    /* For visualization purposes */
    /* border: 5px solid #fff;
    border-radius: 10px; */
}

.log-out-box h1 {
    font-size: 30px;
    font-weight: 500;
}

.log-out-box a {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}

.log-out-box a:hover {
    transform: scale(.95);
}

.home-box {
    display: flex;
    width: 33%;
    text-align: center;
    height: 60px;
    background: transparent;
    padding: 1em;
    color: white;
    justify-content: center;
    align-items: center;

    /* For visualization purposes */
    /* border: 5px solid #fff;
    border-radius: 10px; */
}

.home-box h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}

.image-functions {
    margin-top: 2em;
    display: flex;
    background: transparent;
    justify-content: space-between;
    width: 100%;
}

.image-functions .viewer {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 66%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    padding: 1em;
}

.image-functions .viewer h1 {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.image-functions .viewer img {
    height: 65vh;
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
    border-radius: 15px;
}

.image-functions .generator {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 30%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    padding: 1em;
}

.image-functions .viewer .description {
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    background: rgba(49, 51, 56, .5);
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 1em;
    margin-top: 10px;
}

.image-functions .generator h1 {
    text-align: left;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.image-functions .generator .new-image {
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    border-radius: 15px;
    padding: 1em;
    background: rgba(49, 51, 56, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-style: none;
    transition: transform 0.3s ease;
}

.image-functions .generator .new-image:hover {
    cursor: pointer;
    transform: scale(.95);
}

.image-functions .generator .favorite {
    padding: 1em;
    margin-top: 20px;
    width: 100%;
    background: rgba(49, 51, 56, .5);
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-weight: 300;
    transition: transform 0.3s ease;
}

.image-functions .generator .favorite:hover {
    transform: scale(.95);
}